Repository marco-koenen/Hackathon-WirVsVirus, pull requests merged in 2020-03, with the labels that each got.

#3 added fronend folder, added backend mockup
  .eslintrc.json
  .stylelintignore
  package.json
  settings.yml
  src/backend/backend.py
  src/frontend/.nojekyll
  src/frontend/CNAME
  src/frontend/assets/fonts/.gitkeep
  src/frontend/assets/img/icons/.gitkeep
  src/frontend/assets/img/logos/.gitkeep
  src/frontend/assets/js/config.js
  src/frontend/assets/js/lib/modernizr.js
  src/frontend/assets/js/main.js
  src/frontend/assets/scss/_variables.scss
  src/frontend/assets/scss/aboveTheFold.scss
  src/frontend/assets/scss/fonts.scss
  src/frontend/assets/scss/main.scss
  src/frontend/assets/scss/noJavascript.scss
  src/frontend/fragments/footer.pug
  src/frontend/fragments/head.pug
  src/frontend/fragments/layout.pug
  src/frontend/inc/imports.pug
  src/frontend/inc/variables.pug
  src/frontend/index.pug
Labels: javascript, layout, styles

#10 Feature/pycharm
  .github/labeler.yml
  .gitignore
  .idea/.gitignore
  .idea/Hackathon-WirVsVirus.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  LICENSE
  package.json
  setup.py
  shell.nix
  src/backend/backend.py
Labels: backend

#18 Feature/travis
  .gitignore
  .travis.yml
  config.py
  package-lock.json
  python-env.nix
  src/backend/backend.py
  src/backend/config.py
  src/backend/db.py
  src/backend/sms.py
  src/backend/tests.py
  src/backend/tests/test.py
  src/frontend/assets/js/config.js
  src/frontend/assets/js/utils/patients/create.js
Labels: backend, javascript

#19 backend: sms return success status, tests
  src/backend/sms.py
  src/backend/tests.py
Labels: backend

#21 added overlay for page transitions, added error notifications, clear input fields after button has been clicked
  package-lock.json
  src/frontend/assets/js/config.js
  src/frontend/assets/js/main.js
  src/frontend/assets/js/utils/doctor/create.js
  src/frontend/assets/js/utils/page/view.js
  src/frontend/assets/js/utils/patients/create.js
  src/frontend/assets/js/utils/patients/init.js
  src/frontend/assets/js/utils/patients/remove.js
  src/frontend/assets/js/utils/room/remove.js
  src/frontend/assets/js/utils/user/create.js
  src/frontend/assets/scss/_fragments/overlay.scss
  src/frontend/assets/scss/_variables.scss
  src/frontend/assets/scss/aboveTheFold.scss
  src/frontend/assets/scss/main.scss
  src/frontend/fragments/layout.pug
Labels: javascript, layout, styles

#23 added phone verify util
  src/backend/sms.py
  src/backend/tests.py
  src/backend/validphone.py
Labels: backend

#24 Merge from master
  .travis.yml
  package.json
  src/backend/backend.py
  src/backend/config.py
  src/backend/sms.py
  src/backend/tests.py
Labels: backend

#26 status host to https
  src/backend/backend.py
Labels: backend

#28 Add spryng
  src/backend/sms.py
  src/backend/validphone.py
Labels: backend

#30 added aboveTheFold css, show fallback text when no data is given, adjusted media breakpoints
  gulpfile.js/tasks/main.js
  package-lock.json
  src/frontend/assets/js/config.js
  src/frontend/assets/js/utils/doctor/create.js
  src/frontend/assets/js/utils/doctor/init.js
  src/frontend/assets/js/utils/doctor/remove.js
  src/frontend/assets/js/utils/patients/create.js
  src/frontend/assets/js/utils/patients/init.js
  src/frontend/assets/js/utils/patients/remove.js
  src/frontend/assets/js/utils/user/create.js
  src/frontend/assets/scss/_components/button.scss
  src/frontend/assets/scss/_components/input.scss
  src/frontend/assets/scss/_components/list.scss
  src/frontend/assets/scss/_components/select.scss
  src/frontend/assets/scss/_components/types.scss
  src/frontend/assets/scss/_fragments/footer.scss
  src/frontend/assets/scss/_variables.scss
  src/frontend/assets/scss/_views/createWaitingRoom.scss
  src/frontend/assets/scss/_views/waitingRoom.scss
  src/frontend/assets/scss/main.scss
  src/frontend/fragments/head.pug
  src/frontend/fragments/layout.pug
  src/frontend/views/waitingRoom.pug
Labels: javascript, layout, styles

#31 Regex spryng fixes
  src/backend/config.py
  src/backend/sms.py
  src/backend/tests.py
  src/backend/validphone.py
Labels: backend

#34 fixed duplicate doctor entry
  package-lock.json
  src/frontend/assets/js/utils/doctor/create.js
  src/frontend/assets/js/utils/doctor/init.js
  src/frontend/assets/js/utils/doctor/remove.js
Labels: javascript

#36 added phone validation, stack multiple notifications
  .eslintrc.json
  package-lock.json
  package.json
  src/frontend/assets/js/components/modal/create.js
  src/frontend/assets/js/components/timer/start.js
  src/frontend/assets/js/config.js
  src/frontend/assets/js/utils/doctor/create.js
  src/frontend/assets/js/utils/doctor/init.js
  src/frontend/assets/js/utils/patients/remove.js
  src/frontend/assets/js/utils/room/create.js
  src/frontend/assets/js/utils/user/create.js
  src/frontend/assets/js/utils/user/dashboard.js
  src/frontend/assets/js/utils/user/get.js
  src/frontend/assets/js/utils/user/notification.js
  src/frontend/assets/js/utils/validate/index.js
  src/frontend/assets/js/utils/validate/phone.js
  src/frontend/assets/scss/_components/modal.scss
  src/frontend/components/modal.pug
  src/frontend/fragments/layout.pug
Labels: javascript, layout, styles

#37 backend: do not send user registration sms
  default.nix
  python-env.nix
  setup.py
  src/backend/backend.py
  src/backend/config.py
Labels: backend

#40 added enter key, code refactor & clean up
  .eslintrc.json
  package-lock.json
  package.json
  src/frontend/assets/js/bindings.js
  src/frontend/assets/js/components/dashboard/index.js
  src/frontend/assets/js/components/dashboard/init.js
  src/frontend/assets/js/components/doctor/create.js
  src/frontend/assets/js/components/doctor/index.js
  src/frontend/assets/js/components/doctor/init.js
  src/frontend/assets/js/components/doctor/remove.js
  src/frontend/assets/js/components/modal/create.js
  src/frontend/assets/js/components/patient/index.js
  src/frontend/assets/js/components/patient/init.js
  src/frontend/assets/js/components/patient/remove.js
  src/frontend/assets/js/components/timer/timeSince.js
  src/frontend/assets/js/config.js
  src/frontend/assets/js/main.js
  src/frontend/assets/js/utils/doctor/create.js
  src/frontend/assets/js/utils/error/add.js
  src/frontend/assets/js/utils/error/index.js
  src/frontend/assets/js/utils/error/remove.js
  src/frontend/assets/js/utils/fallbackText/create.js
  src/frontend/assets/js/utils/fallbackText/index.js
  src/frontend/assets/js/utils/fallbackText/remove.js
  src/frontend/assets/js/utils/keys/enter.js
  src/frontend/assets/js/utils/keys/index.js
  src/frontend/assets/js/utils/page/vars.js
  src/frontend/assets/js/utils/patients/create.js
  src/frontend/assets/js/utils/patients/init.js
  src/frontend/assets/js/utils/user/create.js
  src/frontend/assets/js/utils/user/get.js
  src/frontend/assets/js/utils/user/index.js
  src/frontend/assets/js/utils/user/notification.js
  src/frontend/assets/js/utils/validate/phone.js
  src/frontend/assets/scss/_components/button.scss
  src/frontend/views/waitingRoom.pug
Labels: javascript

#39 backend: changed error reporting during user creation
  src/backend/backend.py
  src/backend/config.py
  src/backend/tests.py
  src/backend/validphone.py
Labels: backend

#41 updated error handling if we have problems with the SMS provider
  package-lock.json
  src/frontend/assets/js/components/patient/remove.js
  src/frontend/assets/js/config.js
  src/frontend/assets/js/utils/user/notification.js
  src/frontend/assets/scss/_components/select.scss
Labels: javascript, styles

#46 backend: add db fields room activated
  src/backend/backend.py
  src/backend/config.py
  src/backend/db.py
  src/backend/tests.py
Labels: backend

#47 Add otp
  src/backend/activationOTP.py
  src/backend/backend.py
  src/backend/db.py
Labels: backend
